@{
    Layout = "_AdminLayout";

    ViewData["Title"] = "Home Page";
    CrmHtml.SetActiveMenuItemSystemName("Dashboard");
}



<div class="content-header clearfix">
    <h1 class="float-left">
    &nbsp;
    </h1>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="search-body">
                            <div class="row">
                                <div class="text-center col-12">
                                    <h2>Welcome To CRM Admin</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


