<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
	<siteMapNode SystemName="Home" nopResource="Home" controller="Home" action="Overview">
		<siteMapNode SystemName="Dashboard" nopResource="Dashboard" controller="Home" action="Index" IconClass="fa fa-desktop" />
		<siteMapNode SystemName="Users" nopResource="User" PermissionNames="" IconClass="fa fa-user" >
			<siteMapNode SystemName="User" nopResource="List" PermissionNames="" controller="Users" action="List" IconClass="fa fa-users" />
		</siteMapNode>
		<siteMapNode SystemName="Complain" nopResource="Complian" PermissionNames="" IconClass="fa fa-compress" >
			<siteMapNode SystemName="ComplainList" nopResource="List" PermissionNames="" controller="Complain" action="ComplainList" IconClass="fa fa-list-ul" />
		</siteMapNode>
		<siteMapNode SystemName="BusinessConfiguration" nopResource="Business Configuration" PermissionNames="" IconClass="fa fa-user" >
			<siteMapNode SystemName="BusinessUnitList" nopResource="Business Unit List" PermissionNames="" controller="BusinessUnit" action="List" IconClass="fa fa-dot-circle" />
			<siteMapNode SystemName="Brand" nopResource="Brand" PermissionNames="" controller="Brand" action="List" IconClass="fa fa-dot-circle" />
			<siteMapNode SystemName="Category" nopResource="Product Category" PermissionNames="" controller="Category" action="List" IconClass="fa fa-dot-circle" />
		</siteMapNode>
		<siteMapNode SystemName="Configuration" nopResource="Location Configuration" PermissionNames="" IconClass="fa fa-location-arrow" >
			<siteMapNode SystemName="District" nopResource="District" PermissionNames="" controller="District" action="List" IconClass="fa fa-dot-circle" />
			<siteMapNode SystemName="Thana" nopResource="Thana" PermissionNames="" controller="Thana" action="List" IconClass="fa fa-dot-circle" />
			<siteMapNode SystemName="ServiceCenter" nopResource="ServiceCenter" PermissionNames="" controller="ServiceCenter" action="List" IconClass="fa fa-dot-circle" />
			<siteMapNode SystemName="Technician" nopResource="Technician" PermissionNames="" controller="Technician" action="List" IconClass="fa fa-dot-circle" />
		</siteMapNode>
		<siteMapNode SystemName="Problem" nopResource="Problem" PermissionNames="" IconClass="fa fa-compress" >
			<siteMapNode SystemName="ProblemList" nopResource="List" PermissionNames="" controller="Problem" action="ProblemList" IconClass="fa fa-list-ul" />
		</siteMapNode>

		<siteMapNode SystemName="Reports" nopResource="Reports" PermissionNames="" IconClass="fa fa-chart-line">

		</siteMapNode>
	</siteMapNode>


	
    <siteMapNode SystemName="Users" nopResource="User" PermissionNames="" IconClass="fa fa-user" >
      <siteMapNode SystemName="User" nopResource="List" PermissionNames="" controller="Users" action="List" IconClass="fa fa-users" />
      </siteMapNode>
    <siteMapNode SystemName="BusinessConfiguration" nopResource="Business Configuration" PermissionNames="" IconClass="fa fa-user" >
      <siteMapNode SystemName="BusinessUnitList" nopResource="Business Unit List" PermissionNames="" controller="BusinessUnit" action="List" IconClass="fa fa-dot-circle" />
	  <siteMapNode SystemName="Brand" nopResource="Brand" PermissionNames="" controller="Brand" action="List" IconClass="fa fa-dot-circle" />
		<siteMapNode SystemName="Category" nopResource="Category" PermissionNames="" controller="Category" action="List" IconClass="fa fa-dot-circle" />
	</siteMapNode>
	  <siteMapNode SystemName="Configuration" nopResource="Location Configuration" PermissionNames="" IconClass="fa fa-location-arrow" >
		  <siteMapNode SystemName="District" nopResource="District" PermissionNames="" controller="District" action="List" IconClass="fa fa-dot-circle" />
		  <siteMapNode SystemName="Thana" nopResource="Thana" PermissionNames="" controller="Thana" action="List" IconClass="fa fa-dot-circle" />
	  </siteMapNode>

    <siteMapNode SystemName="Reports" nopResource="Reports" PermissionNames="" IconClass="fa fa-chart-line">
    </siteMapNode>

</siteMap>
